// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.card{
	border:none;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.main-color{
	color: $mainColor;
}

.bk-color{
	background-color: $mainColor;
}
.title{
	font-size: 14px;
}
.menu{
	background-color: $mainColor;
	height: 45px;
}
.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $mainColor;
	overflow-x: hidden;
	transition: 0.5s;
}
.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.overlay p {
	font-size: 25px;
	font-weight: 600;
}
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: black;
	display: block;
	transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
}
.overlay .closebtn {
	font-size: 30px;
}
@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px
	}
	.overlay .closebtn {
		font-size: 40px;
	}
}